@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500);

/*------------------------------------*/
/*---- General Styles for Content ----*/
/*------------------------------------*/

* {
  font-family: "Work Sans", sans-serif;
}

/* ---- Text Styles ---- */
h1,
h2,
h3,
h4,
h5 {
  color: #444;
}
h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
h4 {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
p {
  font-size: 13px;
  font-weight: 300;
  line-height: 120%;
  margin: 0 0 5px 0;
}

h1 i {
  font-size: 22px;
  font-style: normal;
  color: #767676;
}

/* ---- Main Page Container (Bootstrap) ---- */
.main-container {
  padding: 45px 0 15px 0;
}

/* ----------------------------- */
/* ----- Grid Parent Style ----- */
/* ----------------------------- */

.grid-container {
  position: relative;
  display: grid;
  width: 100%;
  padding: 0 22.5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* ---- Styles for ALL Grid Boxes ---- */
.grid-box {
  border-radius: 2px;
  outline: 1px dashed rgba(73, 227, 101, 0);
  outline-offset: 2px;
  transition: 0.2s ease outline 0.1s;
}

/* ----------------------------- */
/* -------- Title Area --------- */
/* ----------------------------- */

.grid-title {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 0;

  /* The Title section has its own child grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

/* Title Section Inner-Grid Col+Row Assignments */
#grid-title-item-0 {
  grid-column: 1 / 4;
  grid-row: 1;
  position: relative;
}
#grid-title-item-1 {
  grid-column: 1 / 2;
  grid-row: 2;
}
#grid-title-item-2 {
  grid-column: 2 / 3;
  grid-row: 2;
}

.grid-title-item h1 {
  padding: 0;
}

.grid-title-item h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12.5px;
  height: 1px;
  width: 100%;
  background: #e8e8e8;
}

.grid-title-item p {
  padding: 2.5px 0;
}

.grid-title-item p:last-child {
  padding-bottom: 0;
}

.grid-title-item p > b {
  display: inline-block;
  min-width: 70px;
}

@media (max-width: 991px) {
  .grid-title {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-title-item-0 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
}

@media (max-width: 767px) {
  .grid-title {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #grid-title-item-0 {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  #grid-title-item-1 {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  #grid-title-item-2 {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}

/* ----------------------------- */
/* ----- Body Content Area ----- */
/* ----------------------------- */

/* --- Section Header Grid Items --- */
.grid-head {
  grid-column: 1 / 3;
  padding: 0 0;
  margin: 20px 0 5px 0;
}

.grid-head-inner {
  position: relative;
}
.grid-head-inner h2 {
  padding: 0;
}

.grid-head-inner h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 1px;
  width: 100%;
  background: #e8e8e8;
}

/* Section Header Containers */
.grid-sect-a.grid-head,
.grid-sect-b.grid-head,
.grid-sect-c.grid-head {
  grid-row: auto;
}

/* --- Section Content Grid Items --- */
.grid-item {
  padding: 0 0;
}

.grid-sect-a.grid-item,
.grid-sect-b.grid-item {
  grid-column: auto;
  grid-row: auto;
}
.grid-sect-c.grid-item {
  grid-column: 1 / 3;
  grid-row: auto;
}

.grid-item p:last-child {
  margin-bottom: 0;
}

.grid-sect-c h4 {
  font-style: italic;
}

@media (max-width: 767px) {
  .grid-sect-a.grid-item,
  .grid-sect-b.grid-item {
    grid-column: 1 / 3;
    grid-row: auto;
  }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ---- Hover Boundary Function & Hint Box Styles ---- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

.grid-box:hover {
  /*background:rgba(0,0,0,0.009);*/
  /*box-shadow: 0 0px 1px 1px rgba(242, 218, 94, 0.8);*/
  outline: 1px dashed rgba(73, 227, 101, 0.7);
  transition: 0.2s ease outline;
}

#hint-box {
  position: relative;
  display: block;
  margin: -45px 22.5px 30px 0;
  padding: 0;
  text-align: right;
}

#hint-box p {
  position: relative;
  display: inline-block;
  padding: 5px 7.5px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  border: 1px solid #e2e2e2;
  border-top: none !important;
  border-radius: 0 0 5px 5px;
  background: #fafafa;
  opacity: 0.4;
  cursor: default;
  transition: 0.2s ease opacity;
}

#hint-box p:hover {
  opacity: 1;
  transition: 0.5s ease opacity;
}
